@import '../variables';
@import '../styles/stars';
@import '../card';
@import '../header';

* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  box-sizing: border-box;
}

body {
  margin: 0;
}
